* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    padding: 8px;
    background-color: #F6F6F6;
    box-sizing: border-box;
}


#queries {
    font-size: large;
}

#tasks li {
    padding: 4px;
    /*border: 1px #0000ee dashed;*/
}

/*#tasks li div {*/
/*padding-left: 5px;*/

/*}*/

#tasks li  {
    padding-left: 5px;
    padding-top: 1px;
    padding-bottom: 1px;
    margin-top: 0px;
    margin-bottom: 0px;
}

path {
    stroke: #bdbdbd;
    stroke-width: 1px;
    fill: none;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.dot {
    stroke: #000;
}

table, th, td {
    border-collapse: collapse;
    border: 1px solid black;
}

td {
    padding: 2px;
}

#querySector span {
    font-family: 'Lucida Grande',serif;
    font-size: small;
}


#querySector input[type='checkbox'] {
    width: 20px;
}

.ui-tabs-anchor {
    padding: 4px 8px !important;
    /*padding: 1px 1.4px 1px 0;*/
}



.split {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    overflow-y: auto;
    overflow-x: hidden;
}

.content {
    /*border: 1px solid #C0C0C0;*/
    /*box-shadow: inset 0 1px 2px #e4e4e4;*/
    /*background-color: #fff;*/
}

.gutter {
    background-color: transparent;

    background-repeat: no-repeat;
    background-position: 50%;
}

.gutter.gutter-horizontal {
    cursor: col-resize;
    /*background-image: url('../icons/grips/vertical.png');*/
}

.gutter.gutter-vertical {
    cursor: row-resize;
    /*background-image: url('../icons/grips/horizontal.png');*/
}

.split.split-horizontal, .gutter.gutter-horizontal {
    height: 100%;
    float: left;
}

input[type=date] {
    font-size: small;
}

#tabs-0 table {
    font-size: small;
    padding: 4px;
}